.result-list {

    .rating {
        flex: 0.3;
        padding: 0.25em 0.05em;
        display: flex;
        flex-direction: row;
        gap: 5px;
        cursor: pointer;
    }

    .rating-popup {
        position: fixed;
        width: 300px;
        background-color: white;
        color: black;
        opacity: 0.8;
        transform: translate(-42%, 20px);
    }
}
